<div class="container-fluid wrapper">
  <div class="container">
    <div class="row header">
      <div class="col-md-6">
        <img src="./assets/twitter.png" alt="Twitter">
      </div>
      <div class="col-md-6 social">
        <a href="https://twitter.com/zendigital_io">
          <img src="./assets/twitter.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/zendigital.io">
          <img src="./assets/insta.png" alt="Instagram">
        </a>

        <a href="https://www.facebook.com/zendigital.io">
          <img src="./assets/facebook.png" alt="facebook">
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="padding-left: 0;">
    <img src="./assets/line.png" alt="" style="width: 95%">
  </div>
  <div class="container">
    <div class="col-md-12 text">
      <p>Creative solutions for emerging brands.</p>
      <p>Marketing your business should be fun and rewarding. We can help. We are a full service marketing provider based in the burgeoning Lower Lonsdale area of North Vancouver that can handle your analog and digital strategy and execution. From print, signs and vehicle wraps to web development, digital marketing and social media management, we’ve got your covered.</p>
      <p>
        <span>Get to know us.</span>
        <a href="http://www.zendigital.io/form">
          <span>Say Hello.</span>
        </a>
      </p>
    </div>
    <div class="col-md-12 footer">
      <p>
        <span><span>Toll-free : </span>1-855-936-4769</span>
        <span><span>Email : </span><a href="mailto:service@zendigital.io">service@zendigital.io</a></span>
      </p>
    </div>
  </div>
</div>
